footer {
    background-color: darksalmon;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

footer a:hover {
    text-decoration: underline;
    color: chartreuse;
}
.container {
  max-width: 1200px;
  margin: 0 auto;   
}
.footer main{
    display: flex;
    margin-bottom: 4 rem;
    justify-content: space-between;
}